.background_image {
    position:fixed;bottom:0px;left:0px;width:100%;z-index:-1;
}

#connstatus {
    position:fixed;z-index:36236;left:0px;bottom:0px;
}

.connstatus_bad {
    color: red;
}

#loginpage_overlay {
    position:fixed;left:0px;top:0px;width:100%;height:100%;background-color:rgb(50,50,50);z-index:20;display:none;
    color:white;
    padding-top:80px;
}

#loginpage > div {
    text-align: center;
}

#loginPageInstructions {
    color:white;
}

.large_login_page_name {
    font-size:200px;color:rgb(0,109,117);margin:0px;text-shadow: 0px 0px 20px black;
}

#loginpage > form {
    text-align: center;
}

#loginpage > form > * {
    margin-left: auto;
    margin-right: auto;
}

#resetpasswordpage > form {
    text-align: center;
}

#resetpasswordpage > form > * {
    margin-left: auto;
    margin-right: auto;
}

.red_box {
    display:block;width:500px;
}

.login_page_input_1 {
    width:400px;padding:10px;height:auto;margin:5px;
}

.login_page_input_display_none {
    display: none;
}

.login_page_input_button {
    cursor:pointer;width:400px;padding:10px;margin:5px;
}

.login_page_input_button_2 {
    cursor:pointer;width:auto;padding:5px;margin:3px;font-size:15px;
    display: block;
}

.mcst_login_notif {
    display:none;width:400px;padding:10px;height:auto;margin:5px;
}